body {
    font-family: Arial, sans-serif;
    background: #ededed !important;
}

.logo
{
	background: white;
	border-radius: 50%;
}

a
{
	text-decoration: none;
}

.btn-service, .btn-user, .btn-hour
{
	box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 8px;
	color: #7e7e7e;
	background: white;
	border: 1px solid #68c568;
}

.btn-service:hover, .btn-user:hover, .btn-hour:hover
{
	box-shadow: rgb(54 54 54 / 63%) 0px 0px 8px;
	cursor: pointer;
}

.btn-service.active, .btn-user.active
{	
	border: 1px solid rgb(233 217 0 / 44%);
    box-shadow: rgb(197 183 0 / 44%) 0px 0px 8px;
    border: 1px solid yellow;
}

.btn-service.inactive
{
	border: gray;
    background: #dddddd;
    color: #b1b1b1;
    border: 1px solid grey;
}

.btn-service.inactive:hover
{
	box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 8px;
	cursor: not-allowed;
}

.accordion-body
{
	background: #f9f9f9;
}

.accordion-button
{
    color: #545454;
    border-radius: 0px!important;
}


.accordion-button:not(.collapsed), #details > .card > .card-header
{
    background: #c1c1c1;
    color: #545454;
}

.accordion-button:not(.collapsed)::after
{
	display: none;
}


@media (prefers-reduced-motion: reduce) {
    .accordion-button::after
    {
    	display: none;
	}
}

.fc-day.select
{
	border: 1px solid red!important;
}

.hours-title
{
    background: #72A8CF;
    padding: 5px 10px 10px 20px;
    height: 70px;
    position: relative;
    border-top: 5px solid #72A8CF;
    border-bottom: 1px solid #ddd;
    color: white;
    margin-top: 10px;
    border-radius: 5px 5px 0 0;
}

.hours-title > p
{
	color: #FFF;
    font-weight: 700;
    font-size: 18px;
    margin-top: 10px;
}

.sticky {
    position: fixed;
    top: 0;
    padding: 10px;
    z-index: 1000;
}