body
{
	color: white!important;
}

ul
{
	list-style: none;
}

a
{
	text-decoration: none!important;
	color: white!important;
}

@media (min-width: 600px) 
{
	nav
	{
		position: fixed;
		width: 40vh;
		height: 100vh;
		display: grid;
		align-items: center;
	}

	.content
	{
		padding-left: 40vh;
		min-height: 50vh;
	}

	.content-alt
	{
		padding-left: 40vh;
	}

	.inner
	{
		width: 100%;
		padding: 5em;
	}

	.contact_info
	{
		border-left:solid 1px #ffffff36;
		padding-left: 2em!important;
	}

	.contact_form
	{
		padding-right: 2em!important;
	}

	.timelapse_all
	{
		padding: 1em 5em;
	}
}

@media (max-width: 600px) 
{
	nav
	{
		display: none;
	}

	.content
	{
		min-height: 50vh;
	}

	.inner
	{
		width: 100%;
		padding: 1em;
	}

	.contact_info
	{
		border-top:solid 1px #ffffff36;
		padding-top: 2em!important;
	}

	.contact_form
	{
		padding-bottom: 2em!important;
	}
}

nav ul
{
	text-align: right;
	padding: 7em 2em;
}

.link p
{
	color: #c1c1c1;
	text-transform: uppercase;
	font-size: 1em;
    font-weight: bold;
    letter-spacing: 0.25em;
    line-height: 1.75;
    padding: 1em 0;
}

.link p:hover
{
	color: #d7d7d7;
}

.active > p
{
	color: white;
 	border-bottom: 5px solid;
  	border-image-slice: 1;
  	border-width: 3px;
  	border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
}

.intro
{
	height: 100vh;
	background-attachment: fixed;
    background-image: url(images/intro.svg);
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.intro h1
{
	color: #ffffff;
    font-weight: bold;
    line-height: 1.5;
    margin: 0 0 0.5em 0;
    padding-bottom: 1em;
    font-size: 3em;
}

.intro p
{
	font-size: 1.7em;
}

.content
{
	display: flex;
	align-items: center;
}

.content-alt
{
	display: flex;
	align-items: center;	
}

.container-fluid
{
	padding: 0!important;
}

.button
{
	-moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -moz-transition: border-color 0.2s ease;
  -webkit-transition: border-color 0.2s ease;
  -ms-transition: border-color 0.2s ease;
  transition: border-color 0.2s ease;
  background-color: transparent;
  border: solid 1px !important;
  border-color: rgba(255, 255, 255, 0.15) !important;
  border-radius: 3em;
  color: #ffffff !important;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  height: calc(4.75em + 2px);
  letter-spacing: 0.25em;
  line-height: 4.75em;
  outline: 0;
  padding: 0 3.75em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
}

.button:hover
{
	background: #00000014;
	transition: .2s;
}

#hours table
{
	color: white;
	border: solid 1px #00000014;
}

.btn_service, .btn_user, .opinion, .tips
{
	background: #ffffff38;
    padding: 30px;
    margin: 10px 0px;
    border-radius: 4px;
}

.btn_service:hover, .btn_user:hover, .tips:hover
{
	background: #16161638;
	cursor: pointer;
	transition: .2s;
}

footer
{
	background: #493382;
}

.timelapse
{
	background: #ffffff0f;
  padding: 1em;
  border: solid 1px #ffffff3d;
  margin: .5em;
}

.timelapse.active
{
	border: solid 1px #b74e91;
  background: #b74e9129;
}

.hide
{
	display: none!important;
}

#contact input, .form_section input
{
	-webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background: rgba(255, 255, 255, 0.05)!important;
  border-radius: 0.25em;
  border: none;
  border: solid 1px rgba(255, 255, 255, 0.15)!important;
  color: inherit;
  display: block;
  outline: 0;
  padding: 0 1em;
  text-decoration: none;
  width: 100%;
  height: 2.75em;
}

#contact textarea, .form_section textarea
{
	-webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background: rgba(255, 255, 255, 0.05)!important;
  border-radius: 0.25em;
  border: none;
  border: solid 1px rgba(255, 255, 255, 0.15)!important;
  color: inherit;
  display: block;
  outline: 0;
  padding: 0 1em;
  text-decoration: none;
  width: 100%;
}

.icons ul
{
	list-style: inline;
}

.btn_left i, .btn_right i
{
    background: #ffffff38;
    transition: .2s;
    padding: 0.2em;
    border-radius: 4px;
    text-align: center;
}

.btn_left i:hover, .btn_right i:hover
{
	background: #16161638;
	cursor: pointer;
}

.hour.disabled, .disabled i
{
	background: #16161638!important;
	cursor: no-drop!important;
}

.table_column
{
	border: solid 1px #0000004d;
}

.table_title
{
	background: #00000078;
}

.hour
{
	border-bottom: solid 1px #0000004d;
}

.hour:hover
{
	background: #ffffff42;
  color: #271c40;
  font-weight: 640;
  cursor: pointer;
}

::placeholder
{
	color: #ffffff78!important;
}

header
{
	padding: 20px;
  background: #493382;
}

header h1
{
	margin: 10px;
}