
@font-face {
	font-family: Allena;
	src: url("../../fonts/Alleana Script.otf");
}

@font-face {
	font-family: Poppins;
	src: url("../../fonts/Poppins-Bold.ttf");
}

@font-face {
	font-family: Montserrat;
	src: url("../../fonts/Montserrat-Regular.ttf");
}

body
{
	font-family: Montserrat!important;
	font-size: .9rem;
}

@media (min-width: 768px){
	.modal-full
	{
		width: 80%!important;
	}
}

.web_title
{
	font-family: Poppins;
	font-size: 1.2em;
	color: white;
}

.profile
{
    border-top: 1px solid #565353;
    border-bottom: 1px solid #565353;
    margin: 20px 5px;
    padding-bottom: 15px;
}

.button_image
{
	padding:0px!important;
	overflow:hidden; /* IMPORTANTE */
	position: relative;
	width: 100%;
	height: 150px;
}

.button_image > img
{
    position: absolute;
    top: 0;
    left: 0;
}

.image_circle
{
	border-radius: 50%;
}

.green-color
{
    color: #26b99a;
}

.bg-green-color
{
    background: rgb(0,117,115); /* Old browsers */
	background: -moz-linear-gradient(45deg,  rgba(0,117,115,1) 0%, rgba(38,185,154,1) 58%, rgba(38,185,154,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(45deg,  rgba(0,117,115,1) 0%,rgba(38,185,154,1) 58%,rgba(38,185,154,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(45deg,  rgba(0,117,115,1) 0%,rgba(38,185,154,1) 58%,rgba(38,185,154,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007573', endColorstr='#26b99a',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.bg-blue-color
{
	background: #81a6cc; /* Old browsers */
	background: -moz-linear-gradient(45deg, #3768a7 0%,  #81a6cc  100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(45deg, #3768a7 0%,  #81a6cc 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(45deg, #3768a7 0%,  #81a6cc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#255084', endColorstr='#3196b2',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.bg-red-color
{
	background: rgb(216,14,10); /* Old browsers */
	background: -moz-linear-gradient(45deg,  rgba(216,14,10,1) 0%, rgba(237,92,92,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(45deg,  rgba(216,14,10,1) 0%,rgba(237,92,92,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(45deg,  rgba(216,14,10,1) 0%,rgba(237,92,92,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d80e0a', endColorstr='#ed5c5c',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.selected-calendar
{
    border:2px solid #26b99a; 
}

.text-white {
  color: white !important;
}

.upload-btn-wrapper {
	position: relative;
	overflow: hidden;
	display: inline-block;
	cursor: pointer!important;
}

.upload-btn-wrapper:hover
{
	cursor: pointer!important;
}

.upload-btn-wrapper input[type=file] {
	font-size: 100px;
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
}

.flag-color
{
	height: 20px; 
	width: 40px;
}

.logo_null
{
	width: 200px;
	height: 200px;
	background: #75dff9;
	color:white;
	text-align: center;
}

.logo_null > h3
{
	font-size: 70px;
	padding-top: 60px;
}

.relative
{
	position:relative;
}

.absolute
{
	position: absolute;
}

.backspace_client, .backspace_service
{
	color: #23b497;
}

.backspace_client:hover, .backspace_service:hover
{
	color: #1b846f;
}

.event_faild
{
	background: repeating-linear-gradient( 45deg, #bc6060b3, #bc6060b3 10px, #984646b3 10px, #984646b3 20px );
	border-color: #bc6060!important;
	border-radius: 2px;
	text-shadow: 0px 1px #655151ad;
}

.event_pending
{
    background: repeating-linear-gradient( 45deg, #6dc2ff7d, #6dc2ff52 10px, #2a77cbb3 10px, #2a77cbb3 20px );
    border-color: #00b8ff!important;
    border-radius: 2px;
    text-shadow: 0px 1px #000000ad;
}

.note 
{
	padding:1em 1.5em;
	margin:1em auto;
	-webkit-box-shadow: 1px 1px 4px 0px rgb(0, 0, 0, 0.4);
	-moz-box-shadow: 1px 1px 4px 0px rgb(0, 0, 0, 0.4);
	box-shadow: 1px 1px 4px 0px rgb(0, 0, 0, 0.4);
	background: #bed9f2;
}

.note.next 
{
   background:rgba(141, 128, 255, 0.63);
   color:rgba(0, 0, 0, 0.82);
}

.note.user 
{
   background:rgba(255, 236, 0, 0.35);
   color:rgba(0, 0, 0, 0.82);
}

.note.business 
{
   background:rgba(82, 165, 150, 0.67);
   color:rgba(0, 0, 0, 0.82);
}

.note hr
{
	margin: .5em 0;
	border-top: 1px solid #eeeeee54;
}

.note .btn-default-note
{
	background: none;
    border: none;
    font-size: 1.4em;
    color: #000;
    margin:0;
}

.note .btn-default-note:hover
{
	color:gray;
}

.btn-calc, .btn-command, .btn-category
{
	padding:1em;
}


.btn-command, .btn-category
{
	color:#fff;
   	background:rgba(56, 52, 52, 0.90);
}

.tips
{
	background: #ebebeb;
    padding: 20px;
    border-radius: 3px;
}

.btn-service, .btn-user, .btn-date, .btn-hour
{
	background: #83a6cc!important;
	border: none;
	color: #fff!important;
}

.btn-service:hover, .btn-user:hover, .btn-date:hover, .btn-hour:hover
{
	background: #3768a5!important;
}

.btn-home, .btn-back
{
	background: #333333!important;
	border: none;
}

.btn-home:hover, .btn-back:hover
{
	background: #686868!important;
}

.fc-state-highlight {
    opacity: 0;
    border: none;
}

/* Styling for each event from Schedule */
.fc-time-grid-event.fc-v-event.fc-event {
    border-radius: 4px;
    border: none;
    padding: 5px;
    opacity: .65;
    left: 5% !important;
    right: 5% !important;
}

/* Bolds the name of the event and inherits the font size */
.fc-event {
    font-size: inherit !important;
    font-weight: bold !important;
}

/* Remove the header border from Schedule */
.fc td, .fc th {
    border-style: none !important;
    border:solid 1px #eaeaea!important;
    border-width: 1px !important;
    padding: 0 !important;
    vertical-align: top !important;
}

/* Inherits background for each event from Schedule. */
.fc-event .fc-bg {
    z-index: 1 !important;
    background: inherit !important;
    opacity: .25 !important;
}

/* Normal font weight for the time in each event */
.fc-time-grid-event .fc-time {
    font-weight: normal !important;
}

/* Apply same opacity to all day events */
.fc-ltr .fc-h-event.fc-not-end, .fc-rtl .fc-h-event.fc-not-start {
    opacity: .65 !important;
    margin-left: 12px !important;
    padding: 5px !important;
}

/* Apply same opacity to all day events */
.fc-day-grid-event.fc-h-event.fc-event.fc-not-start.fc-end {
    opacity: .65 !important;
    margin-left: 12px !important;
    padding: 5px !important;
}

/* The active button box is ugly so the active button will have the same appearance of the hover */
.fc-state-active {
    background-color: rgba(158,158,158,0.2);
}

/* Not raised button */
.fc-state-default {
    box-shadow: None;
}

.new_modal
{
	margin-top: 0 !important;
	position: absolute;
    right: 0;
    height: 100vh;
}

.new_modal .modal-content
{
	height: 100%;
}

@media only screen and (min-width: 1000px) 
{
	.new_modal
	{
	    width: 30%;
	}
}

@media only screen and (min-width: 700px) and (max-width: 999px) 
{
	.new_modal
	{
	    width: 50%;
	}
}

@media only screen and (max-width: 700px)
{
	.new_modal
	{
	    width: 100%;
	}
}

.new_modal .modal_content
{
	height: 100%;
	background: white;
	margin-bottom: 80px;
}

.new_modal .modal-footer
{
	z-index: 1000;
}

.modal_content .close
{
	color: white;
    font-size: 2em;
    opacity: .8;
}	

.select2-container--default .select2-selection--multiple .select2-selection__choice 
{
	background: #81a6cc!important;
	color: white!important;
	border: none!important;
}

.select2-selection__choice__remove
{
	color: white!important;
}

.select2-container--default .select2-selection--multiple {
    background-color: white;
    border: 1px solid #ccc!important;
	border-radius: .3 rem !important;
    cursor: text;
}

.select2-search__field
{
	opacity: .8!important;
}

.modal-content, .modal-header 
{  
	border-radius: 0;
}

.modal-backdrop 
{
	background: #747474!important;
}

.logo_task
{
	margin-top: 0px;
    display: block;
    padding: 10px;
    border-radius: 5%;
    width: 100%;
    text-align: center;
    color: white;
}

.logo_task_user
{
	margin-top: -5px;
    display: block;
    padding: 20px 25px;
    border-radius: 5%;
    width: 100%;
}

.btn-danger-outline
{
	background: none;
	border: solid 2px red;
	color: red;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.modal_delete_background
{
    position: fixed;
    width: 100%;
    height: 100%;
    background: #0000008c;
}

.tureserva_notification_alert
{
	position: fixed;
    color: white;
    z-index: 3000;
    text-align: center;
    bottom: 2em;
    display: none;
}

.tureserva_notification_alert .body
{
    height: 100px;
}

.tureserva_notification_alert .content
{
	padding-top: 35px;
}

.tureserva_notification_alert .icon
{
	font-size: 40px;
	padding-top: 20px;
	background: rgba(0,0,0,.2);
	height: 100%;
}

.tureserva_notification_alert .success
{
	background: #54da5e;
}

.tureserva_notification_alert .danger
{
	background: #da5454;
}

.tureserva_notification_alert .warning
{
	background: #d2da54;
}

.tureserva_notification_alert .info
{
	background: #5490da;
}

.tureserva_notification_alert .close
{
	display: none;
	font-size: 25px;
	position: absolute;
	color: white;
	top: 5px;
	right: 10px;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.btn-primary,.btn-success,.btn-danger.btn-info
{
	border: none;
}

.btn-info
{
	background: #17a2b8 !important;
}

.nav_menu
{
	background: #17a2b8 !important;
}

input, textarea
{
	border-radius: 0.30rem!important;
}

.msg_list>li>a:focus, .msg_list>li>a:hover
{
	background: white;
}

.table > tbody > tr > td {
    vertical-align: middle;
}

.client_note
{
    background: #343a40;
    padding: 20px;
    color: #c2c7d0;
}

.img_users
{
    border-radius: 50%;
    box-shadow: 1px 1px 4px 0px grey;
}

.btn_modal p
{
	bottom: -10px;
    width: 100%;
    text-align: center;
    background: #424242c7;
    font-size: 20px;
    color: white;
    padding: 10px;
}

.btn_modal .fa-link
{
	display: none;
	position: absolute;
    left: 44%;
    top: 38%;
    background: #13c5e1d9;
    padding: 4%;
    /* font-size: 100%; */
    color: white;
    border-radius: 10px;
    z-index: 999;
}

.btn_modal .background
{
	display: none;
	position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #ffffff6e;;
    z-index: 990;
}

.btn_modal:hover
{
	cursor: pointer;
}

.modal_status
{
	background: #15cd15;
    padding: 5px;
    border-radius: 9px;
    margin-left: 10px;
}

.hide
{
	display: none;
}

.disabled
{
	background: grey;
	cursor: no-drop;
}

.modal-center
{
	height: 100%;
	display: flex;
   	align-items: center;
}

.modal-center .modal-content
{
	width: 100%;
}

.onoffswitch {
    position: relative; width: 60px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}

.onoffswitch-checkbox {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    height: 36px; padding: 0; line-height: 36px;
    border: 2px solid #E3E3E3; border-radius: 36px;
    background-color: #FFFFFF;
    transition: background-color 0.3s ease-in;
}

.onoffswitch-label:before {
    content: "";
    display: block; width: 36px; margin: 0px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 22px;
    border: 2px solid #E3E3E3; border-radius: 36px;
    transition: all 0.3s ease-in 0s;
    height: 36px; 
}

.onoffswitch-checkbox:checked + .onoffswitch-label {
    background-color: #17A2B8;
}

.onoffswitch-checkbox:checked + .onoffswitch-label, .onoffswitch-checkbox:checked + .onoffswitch-label:before {
   border-color: #17A2B8;
}

.onoffswitch-checkbox:checked + .onoffswitch-label:before {
    right: 0px; 
}

.plan
{
	border: solid 1px #d9d9d9;
	margin: 1em 0;
}

.plan .title
{
	padding: 6em 1em;
	text-align: center;
}

.plan .title h1
{
	font-size: 2.5em!important;
}

.plan .details
{
	padding: 1em;
}

.plan .details ul
{
	list-style: none;
	padding-left: 0;
}

.plan .price
{
	padding: 1em;
	border-top: solid 1px #d9d9d9;
}

.plan.basic .title
{
	background: #6060ce;
	color: white;
}

.plan.advanced .title
{
	background: #18bf8d;
	color: white;
}

.plan.premium .title
{
	background: #d6c14a;
	color: white;
}

.plan.actual
{
	background: #c7c7c7;
    padding: 2em 1em;
    color: black;
}

.credit-card
{
	background: rgb(0,129,173);
	background: -moz-linear-gradient(90deg, rgba(0,129,173,1) 0%, rgba(44,170,222,1) 100%);
	background: -webkit-linear-gradient(90deg, rgba(0,129,173,1) 0%, rgba(44,170,222,1) 100%);
	background: linear-gradient(90deg, rgba(0,129,173,1) 0%, rgba(44,170,222,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0081ad",endColorstr="#2caade",GradientType=1);
	margin-left: 5%;
	width: 30vw;
	margin-top: 5%;
	height: 20vw;
	border-radius: 30px;
	padding: 2vw;
	box-shadow: 2px 2px 8px -3px black;
	color: white;
}

.credit-card-mini
{
	background: rgb(0,129,173);
	background: -moz-linear-gradient(90deg, rgba(0,129,173,1) 0%, rgba(44,170,222,1) 100%);
	background: -webkit-linear-gradient(90deg, rgba(0,129,173,1) 0%, rgba(44,170,222,1) 100%);
	background: linear-gradient(90deg, rgba(0,129,173,1) 0%, rgba(44,170,222,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0081ad",endColorstr="#2caade",GradientType=1);
	width: 100%;
	border-radius: 30px;
	padding: 2vw;
	box-shadow: 2px 2px 8px -3px black;
	color: white;
	margin-bottom: 1em;
}

.credit-card-mini .number
{
	font-size: 2em;
}


.chip .exterior
{
	margin-top: 1vw;
	background: grey;
	width: 6vw;
	height: 4vw;
	border-radius: .4vw;
	padding-top: .5vw;
}

.chip .exterior .interior
{
	background: lightgray;
	width: 4vw;
	height: 3vw;
	border-radius:.3vw;
}

.number
{
	margin-top: 1vw;
	font-size: 2vw;
	text-align: center;
}

.name
{
	font-size: 2vw;
	text-transform: uppercase;
}

.btn
{
	-webkit-box-shadow: inset 0px -.2em 0px 0px rgba(0,0,0,0.20);
	-moz-box-shadow: inset 0px -.2em 0px 0px rgba(0,0,0,0.20);
	box-shadow: inset 0px -.2em 0px 0px rgba(0,0,0,0.20);
}

.btn:hover
{
	-webkit-box-shadow: inset 0px -.15em 0px 0px rgba(0,0,0,0.20);
	-moz-box-shadow: inset 0px -.15em 0px 0px rgba(0,0,0,0.20);
	box-shadow: inset 0px -.15em 0px 0px rgba(0,0,0,0.20);
}

.back_modal
{
    background: #00000094;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}