/*Comentario de prueba*/
body
{
	padding-top: 0;
}

a
{
	text-decoration: none;
}

.logo_null
{
	width: 200px;
	height: 200px;
	color:white;
	text-align: center;
}

.logo_null > h3
{
	font-size: 70px;
	padding-top: 60px;
}

.btn-service, .btn-user
{
	padding: 20px;
	width: 100%;
	margin: 20px 0;
	cursor: pointer;
	margin-top: .5rem;
}

.btn-service:hover, .btn-user:hover
{	
	transition-duration: .2s;
	color: white;
	transition: .1s;
}

.timelapse_all
{
	text-align: center;
}

.timelapse
{
	padding: 10px;
	margin-bottom: 5px!important;
}

.timelapse.active
{
	color: white;
	border: none;
}

.table_all .table_dates
{
	border:solid 1px #333333;
  	color: #333333;
}

.table_hour .disabled
{
	cursor: no-drop;
	background: #cfcfcf;
	color: white;
	border: solid 1px #cfcfcf;
}

.hour:hover
{
	color: white;
	cursor: pointer;
}

.fa-star:hover
{
	color: yellow;
}

.hour.disabled
{
	background: #16161638!important;
	cursor: no-drop!important;
	border: 1px solid red;
}

.hour.active
{
	background: #008d1838!important;
	border: 1px solid green;
}

.btn_left i, .btn_right i
{
	background: #858585;;
  	border-radius: 4px;
	text-align: center;
	padding: 10px;
	color: white;
}

.btn_left i:hover, .btn_right i:hover
{
	background: #16161638;
	cursor: pointer;
}

.hour
{
  	border:1px solid #c3c3c3;
  	padding:5px;
  	margin:.5em 0;
  	border-radius: 3px;
}

.table_title
{
	background: #303030!important;
	color: white;
	padding:.5em;
  	margin:.5em 0;
  	border-radius: 1px;
}

.table_column{
    margin: 1.5em -10px!important;
}